

.music h2,
.music h3 {
  text-align: center;
  margin: 15px;
}

.music h2 {
  font-weight: 100;
}

.player .music .img {
  border: none;
  border-bottom-right-radius: 0;
}

.player .music .actions i {
  font-size: 40px;
}
