.player .card {
  width: 30%;
  transition: .5s;
  transform: scale(0.8);
  position: relative;
  flex-grow: 1;
  margin: 0 15px;
  border-radius: 50px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.274);
}

.player .card.active {
  transform: scale(1);
}

.player .card .img {
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  min-width: 250px;
  height: 350px;
  background-position: top center;
  background-size: cover;
  border-bottom-right-radius: 50%;
}

.player .card h2 {
  margin: 15px 0;
  text-align: center;
}

.player .card .actions {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player .card .actions i {
  padding: 5px;
  transition: .2s;
  color: var(--primary);
  cursor: pointer;
  font-size: 30px;
}

.player .card .actions i:hover {
  color: var(--primary-hover);
}

@media screen and (max-width: 1100px) {
  .player .card {
    margin: 0;
  }

  .player .card .img {
    height: 250px;
  }
}

@media screen and (max-width: 950px) {
  .player .card {
    margin: 0 15px;
    transform: scale(1);
  }
}

@media screen and (max-width: 350px) {
  .player .card .actions i {
    font-size: 25px;
  }

  .player .card .img {
    min-width: auto;
  }

  .player .card .actions {
    justify-content: center;
  }
}
