.player {
  position: relative;
}

.player .content {
  padding: 15px 0;
  width: calc(100% - 100px);
  margin: 0 auto;
  overflow: hidden;
}

.player .cards {
  transition: .5s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player > .actions {
  width: 100%;
  top: 50%;
  z-index: 1;
  position: absolute;
}
