.artist .actions > div {
  display: flex;
  align-items: center;
}

.artist .actions > div > i:nth-of-type(2) {
  font-size: 60px;
}

@media screen and (max-width: 350px) {
  .artist .actions > div > i:nth-of-type(2) {
    font-size: 60px;
  }
}
