.text-editor-container {
  border: 1.5px solid #5e5e5e;
  box-sizing: border-box !important;
}

.text-editor-content {
  min-height: 150px;
}

.text-editor-content .public-DraftStyleDefault-block,
.text-editor-content .public-DraftEditorPlaceholder-root {
  margin: 0;
  padding: .5em 0;
}
