.galery .card {
  opacity: .9;
  transition: .2s;
  width: 250px;
  height: 250px;
  position: relative;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
}

.galery .card:hover {
  opacity: 1;
  box-shadow: 1px 1px 5px rgb(151, 151, 151);
}

@media screen and (max-width: 1350px) {
  .galery .card {
    width: 180px;
    height: 180px;
  }
}
