.site-header {
  margin: 0;
  z-index: 10;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  height: var(--header-height);
  padding: 5px var(--space-x);
  background: linear-gradient(to right, var(--secondary), var(--primary));
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 5px rgb(0 0 0 / 32%);
}

.site-header .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header .main a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.site-header .main img {
  width: 40px;
  margin-right: 15px;
}

.site-header .main h2 {
  margin: 0;
}

.site-header #toggle-mobile {
  display: none;
  cursor: pointer;
  font-size: 40px;
  color: white;
  padding: 10px 15px;
}

.site-header #toggle-mobile:hover,
.site-header #toggle-mobile:active {
  background-color: rgba(0, 0, 0, 0.096);
}

.site-header .menu-mobile {
  display: none;  
  transition: .2s;
  transform: scaleY(0);
  transform-origin: top;
}

.site-header .menu-mobile.show {
  transform: scaleY(1);
}

.site-header .menu-mobile a {
  display: block;
  text-decoration: none;
  background-color: white;
  font-size: 25px;
  color: var(--primary);
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid var(--secondary);
}

.site-header .menu-desktop {
  display: flex;
  align-items: center;
}

.site-header .menu-desktop span {
  color: white;
}

.site-header .menu-desktop a {
  font-weight: bold;
  text-decoration: none;
  padding: 5px 15px;
}

.site-header .menu-desktop i {
  padding: 10px;
}

.site-header .menu-desktop a,
.site-header .menu-desktop i {
  cursor: pointer;
  font-size: 20px;
  color: white;
  transition: .2s;
}

.site-header .menu-desktop i:hover,
.site-header .menu-desktop a:hover {
  color: var(--white-hover);
}

@media screen and (max-width: 700px) {
  .site-header {
    padding: 0 0;
    flex-direction: column;
    align-items: stretch;
  }

  .site-header .menu-desktop {
    display: none;
  }

  .site-header #toggle-mobile,
  .site-header .menu-mobile {
    display: block;  
  }

  .site-header .main img {
    padding: 0 15px;
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .site-header .main h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .site-header .main h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .site-header .main img {
    padding: 0;
  }
}
