.galery {
  margin-top: 25px;
  position: relative;
}

.galery .content {
  padding: 15px 0;
  width: calc(100% - 100px);
  margin: 0 auto;
  overflow: hidden;
}

.galery .musics {
  transition: 1s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.galery > .actions {
  width: 100%;
  top: 50%;
  z-index: 1;
  position: absolute;
}
