.galery .playlist {
  background-size: cover;
  background-position: center center;
}

.galery .playlist .detail {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}

.galery .playlist h1 {
  color: white;
  text-align: center;
}
