.home section:first-of-type {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  padding: 0;
}

.home section:nth-child(odd) {
  background-color: var(--background);
}

@media screen and (max-width: 800px) { 
  .home section:first-of-type {
    min-height: calc(100vw * 0.4995);
  }
}
