footer {
  color: white;
  display: flex;
  box-sizing: border-box;
  min-height: var(--footer-height);
  padding: 15px var(--space-x);
  background: linear-gradient(to right, var(--secondary), var(--primary));
}

footer .details {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
}

footer .details img {
  max-width: 200px;
} 

footer .details .card {
  margin-top: 25px;
}

footer .details .card h2 {
  margin: 0;
}

footer .details .card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

footer .details .card li {
  padding: 0;
  margin: 5px 0;
}

footer a {
  color: white;
  text-decoration: none;
  transition: .2s;
  list-style: none;
  padding: 5px 0;
}

footer a:hover {
  text-decoration: underline;
  color: var(--white-hover);
}

footer .social {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

footer .social .icons i {
  font-size: 30px;
  padding: 5px;
}

@media screen and (max-width: 1000px) {
  footer .details img {
    max-width: 165px;
  } 

  footer {
    flex-direction: column;
  }
  
  footer .social {
    margin-top: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  footer .social .icons i:first-of-type {
    padding-left: 0;
  }
}

@media screen and (max-width: 800px) {
  footer .details {
    flex-wrap: wrap;
  }
  
  footer .details .card {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 400px) {

  footer {
    min-height: calc(100vh - var(--header-height));
  }

  footer .details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer .social {
    flex-direction: column;
  }
}
