:root {
  --primary: #529cf3;
  --secondary: #71ddc9;
  --hover-white: #e7f1f0;
  --space-x: 5%;

  --header-height: 80px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
