:root {
  --primary: #529cf3;
  --secondary: #71ddc9;
  --background: #529df310;

  --space-x: 5%;
  
  --white-hover: #e7f1f0;
  --primary-hover: #3780d4;

  --header-height: 80px;
  --footer-height: 245px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
