.galery .genre .detail {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}

.galery .genre h1 {
  color: white;
  text-align: center;
  mix-blend-mode: difference;
}
